@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
        font-family: "Roboto", sans-serif;
}

header{
    background-image: url(img/Hero-bg.png);

}


.img-1{
    background-size: cover;
}

.img-2{
    margin: 4%;
    margin-left: 40%;
}

.primary-h1{
    margin: 0%;
    margin-left: 33%;
    font-size: 300%;
}

.p-1{
    margin: 2%;
    margin-left: 33%;
    font-size: 150%;
}

.btn{
    margin: 1%;
    margin-left: 46%;
    font-size: 150%;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 200px;
    height: 60px;
}

.conteiner{
    height: 1395px;
    width: 1140px;
    border: 2px solid red;
    margin-left: 20%;
    margin: 4% 25%;
    background-color: rgb(243, 243, 243);
}

.h1-content{
    font-size: 50px;
    margin-left: 25%;
    margin-top: 8%;
}

.p-2{
    font-size: 20px;
    margin-left: 5%;
    margin-top: 3%;
}

.div-2{
    width: 945px;
    height: 340px;
    border: 3px solid black;
    margin-left: 8%;
    background-color: white;
    margin-top: 6%; 
    border-radius: 20px;  
}

.img-3{
    margin-left: 70%;
    margin-top: 6%;
}

.h2-1{
    margin-left: 5%;
    margin-top: 0%;
}


























